<html>
    <head>
        <title>Crea tu menu</title>
        <meta charset="UTF-8">
        <meta name="description" content="web page to create menus">
        <meta name="keywords" content="menus">
        <meta name="author" content="Cristian Franco">
        <link rel="stylesheet" href="/style.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="formularioytel">
            <h1>Crea tu menu</h1>
            <form name="contact" action="/createMenu" method="POST">
                <p>
                  <label> <input placeholder="Nombre" type="text" name="name" required/></label>
               </p>
                <p>
                  <label> <input placeholder="Precio" type="number" name="price" required/></label>
                </p>
                <p>
                  <label> <textarea placeholder="Descripcion" name="desc"  required></textarea></label>
                </p>
                <p>
                  <label for="hidden"> Ocultar elemento</label>
                  <input type="checkbox" id="hidden" name="hidden" value="true">
                </p>
                <p>
                  <button class="enviar" type="submit">Crear</button>
                </p>
              </form>
        </div>
    </body>
</html>