<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <form>
                <input type="text" placeholder="Nombre" required>
                <input type="text" placeholder="Apellido" required>
                <input type="text" placeholder="Ciudad">
                <label for="masculino">
                    <input type="radio" id="masculino" name="genero" value="m" checked>Masculino
                </label>
                <label for="femenino">
                    <input type="radio" id="femenino" name="genero" value="f">Femenino
                </label>

                <label for="humble">
                    <input type="checkbox" id="humble" name="personality">
                </label>

                <label for="timid">
                    <input type="checkbox" id="timid" name="personality">
                </label>

                <label for="modest">
                    <input type="checkbox" id="modest" name="personality">
                </label>
                

                <button type="submit">Guardar info</button>
            </form>
           
        </div>
    </body>
</html>