extends layout.pug
block content
  div(class="companyAll")
    div(class="header-companyAll")
      h2 Empresas 
      a(href="/companyCreate" class="btn") Crear
    div(class="list-companies")
      ul
        each company in companies
          li 
            span=company.companyName
            span= company.social_reason
            span= company.address
            span Creado por
            span
              a(href='/company/'+company._id class="btn") Editar
            
              
          