extends layout.pug
block content
    div(class="btn")
      a(href="/companyCreate") Añadir empresa
    div(class="companyAll")
      ul
        each val in companies
          li 
            a(href='/company/'+val._id) Empresa: #{val.companyName}
              
          