extends layout.pug
block content
  div(class="companyAll")
    div(class="btn")
      a(href="/companyCreate") Añadir empresa
    div(class="list-companies")
      h2 Lista de tus empresas 
        i(class="fa fa-building" aria-hidden="true") 
      ul
        each company in companies
          li 
            a(href='/company/'+company._id) Empresa: #{company.companyName}
              
          