html
  head
    title Inicio
    meta(name='description', content='Home page')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="author" content="Cristian Franco")
    link(rel='stylesheet', href='./style.css')
  body
    div(class="iniciar-ses")
      h1 Iniciar sesión
      form 
        p
          label
            input(placeholder="Correo" type="text" name="correo" required)
        p
          label
            input(placeholder="Contraseña" type="password" name="contra" required)
        p
          button(class="enviar" type="submit") Entrar
           

      h2
      | Olvide mi contraseña
      | #{message1}
      p=message2