extends layout.pug
block content
    div(class="navbar")
      div(class="navigation")
        ul
          li
            a(href="/")
              i(class="fa fa-home" aria-hidden="true") 
              | Inicio
          li
            a(href="/company")
              i(class="fa fa-building" aria-hidden="true") 
              | Empresas      
          li 
            a(href="/menus")
              i(class="fa fa-cutlery" aria-hidden="true") 
              | Cartas      
      div(class="profile")
        p 
          i(class="fa fa-user" aria-hidden="true")
          | Nombre

          
    div(class="iniciar-ses")
      if logged
        h1 Guia de inicio
        ol
          li Crear una empresa para poder asociar las cartas a esta en el apartado de empresas.
          li Despues de crear tu empresa puedes crear tus cartas
          li Tus cartas estaran en la seccion de Cartas en donde podras ver, editar y borrar elementos de tus cartas.
          li En la seccion de cartas tambien podras generar los codigos QR o ver los links para consumir el API desde tu web/aplicacion
        p Nota: La cantidad de empresas y cartas que puedes crear es ilimitada.

      else   
        h1 Iniciar sesión
        form 
          p
            label
              input(placeholder="Correo" type="text" name="correo" required)
          p
            label
              input(placeholder="Contraseña" type="password" name="contra" required)
          p
            button(class="enviar" type="submit") Entrar