*{
    
  font-family: sans-serif;
  margin:0px;
  list-style-type: none; 

}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color:white
}
  h1 {
    font-size: 4em;
    text-align: center;

  }
  
  input[type=text], label {
    margin-bottom: 8px;
  }

  .navbar{
    background-color:black;
    color:white;
    margin:0px;
    padding: 0;
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;


  }

  .navigation{
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    
  }
  .navigation ul li{
    display: inline;
    padding-left: 1vw;

  }

  .profile{
    width: 50vw;
    display: flex;
    padding-right: 2vw;
    justify-content: flex-end;

  }

  .companyAll{
    text-align: center;
    width: 80vw;
  }